# Folder where you should store your builds
[Bb]uilds/

# Folder where you should store your persistant data
A\ Dangerous\ Land_Data/

# Visual Studio Files
.vs/
obj/
*.sln
*.csproj

# Unity Files
Library/
Temp/

# Not sure what creates these files or what they're for
app.config
compilation.log

# Matt's loot calculator experiment (python project)
LootCalculator/

# Odd files that appeared due to case sensitivity of my file system
CaseSensitiveTest
casesensitivetest