# Folder where you should store your builds
[Bb]uilds/

# Visual Studio Files
.vs/
obj/
*.sln
*.csproj

# Unity Files
Library/
Temp/

# Not sure what creates these files or what they're for
app.config
compilation.log

# Matt's loot calculator experiment (python project)
LootCalculator/