# Folder where you should store your builds
[Bb]uilds/

# Visual Studio Files
.vs/
obj/
*.sln
*.csproj

# Unity Files
Library/
Packages/
Temp/

# Unity recomends that .meta files be included in version
# control but the project can be built and run without
# so I don't know what the deal is
*.meta

# Unity C#7 support
CSharp70Support/
Assets/CSharp vNext Support/

# Not sure what creates these files or what they're for
app.config
compilation.log

# Matt's loot calculator experiment (python project)
LootCalculator/